
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
body {
    height: 100vh;
    background-image:url('misson.jpg');
    background-color: #D9E5FF;
    background-repeat : no-repeat;
    background-size : cover;
}
.misson-name{
    position: relative;
 	/* 가로축 가운데 정렬 */
    text-align : center;
    /* 세로축 가운데 정렬 */
    line-height : center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 64px;
}
.misson-list{
    position: relative;
    font-family: 'Do Hyeon', sans-serif;
    /* 가로축 가운데 정렬 */
    text-align : center;
    /* 세로축 가운데 정렬 */
    line-height : center;
    font-size: 44px;
}
.myButton {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}
.count {
	position:relative;
	top:-10px
}
